.topbar {
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;}
.topbar .container {
    width: calc(100% - 400px);
    height: auto;
    margin: 0 200px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar .container .left .menu_texts a {
    margin-right: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.5s ease;
}
.topbar .container .left .menu_texts a:hover {
    color: #cd3a3a;
}
.topbar .container .icons i.bx {
    margin-left: 20px;
    font-size: 1.5vw;
}
