.topbar {
    width: 100vw;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;}
.topbar .container {
    width: calc(100% - 400px);
    height: auto;
    margin: 0 200px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar .container .left .menu_texts a {
    margin-right: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.5s ease;
}
.topbar .container .left .menu_texts span {
    display: none;
}
.topbar .container .left .menu_texts a:hover {
    color: #cd3a3a;
}
.topbar .container .icons i.bx {
    margin-left: 20px;
    font-size: 1.5vw;
}
@media only screen and (max-width: 767px) {
    /* Mobile */
    .topbar {
        height: 70px;
        /* background-color: green; */
    }
    .topbar .container {
        width: calc(100% - 40px);
        margin: 0 20px 0 20px;
    }
    .topbar .container .left .menu_texts a {
        display: none;
    }
    .topbar .container .icons i.bx {
        margin-right: 8px;
        font-size: 20px;
    }

    .topbar .container .left .menu_texts span {
        font-size: 25px;
        display: block;   
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Tablets */
    .topbar .container {
        width: calc(100% - 200px);
        margin: 0 100px 0 100px;
    }
}