
@import "global.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Khand", sans-serif;
  width: 100vw;
  // height: 100vh;
  overflow-x: hidden;
  background: $background;
  color: $text;
}
a {
  color: $text;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
  box-shadow: none;
  border: none;
  outline: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0fc5d150;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

@media screen and (max-width: 768px){
  ::-webkit-scrollbar {
    width: 1px;
  }
}