.skills {
    width: 100%;
    height: 100%;
}
.skills h2.title {
    margin-top: 50px;
    font-size: 30px;
    height: 60px;
    margin-left: 100px;
    text-align: center;
    width: fit-content;
    font-family: 'Audiowide', cursive;
    font-weight: 500;
}

h2.underline {
    position: relative;
}
h2.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5px;
    background: #2884D8;
}
.skills .skill-box {
    position: relative;
    width: calc(100% - 400px);
    height: calc(100% - 200px);
    margin: 50px 200px 150px 200px;
}
.skill-bubble:nth-child(1), .skill-bubble:nth-child(2), .skill-bubble:nth-child(3) {
    position: absolute;
    top: 100px;
}
.skill-bubble:nth-child(1) {
    left: 100px;
}
.skill-bubble:nth-child(2) {
    left: 50%;
}
.skill-bubble:nth-child(3) {
    left: calc(100% - 100px);
}
.skill-bubble:nth-child(4) , .skill-bubble:nth-child(5) {
    position: absolute;
    top: 50%;
    animation-delay: .25s !important;
}
.skill-bubble:nth-child(4) {
    left: calc(25% + 50px);
}
.skill-bubble:nth-child(5) {
    left: calc(75% - 50px);
}
.skill-bubble:nth-child(6), .skill-bubble:nth-child(7), .skill-bubble:nth-child(8) {
    position: absolute;
    top: calc(100% - 100px);
    animation-delay: .5s !important;
}
.skill-bubble:nth-child(6) {
    left: 100px;
}
.skill-bubble:nth-child(7) {
    left: 50%;
}
.skill-bubble:nth-child(8) {
    left: calc(100% - 100px);
}
@media only screen and (max-width: 767px) {
    /* Mobile  */
    .skills .skill-box {
        width: calc(100% - 50px);
        height: calc(100% - 210px);
        margin: 0 25px 0 25px;
        margin-top: 85px;
    }
    .skills h2.title {
        font-size: 20px;
        line-height: 25px;
        height: 40px;
        margin-left: 25px;
        margin-top: 25px;
    }
    .skill-bubble:nth-child(1),.skill-bubble:nth-child(2) {
        top: 0px;
        animation-delay: 0;
    }
    .skill-bubble:nth-child(3) {
        top: calc(25% + 0px);
        animation-delay: 0.5s;
    }
    .skill-bubble:nth-child(4),.skill-bubble:nth-child(5) {
        top: calc(50% + 0px);
        animation-delay:1s;
    }
    .skill-bubble:nth-child(6) {
        top: calc(75% + 0px);
        animation-delay: 1.5s;
    }
    .skill-bubble:nth-child(7),.skill-bubble:nth-child(8) {
        top: calc(100% + 0px);
        animation-delay: 2s;
    }
    .skill-bubble:nth-child(3), .skill-bubble:nth-child(6) {
        left: calc(50% - 0px);
    }
    .skill-bubble:nth-child(1),.skill-bubble:nth-child(4),.skill-bubble:nth-child(7) {
        left: 25px;
    }
    .skill-bubble:nth-child(2),.skill-bubble:nth-child(5),.skill-bubble:nth-child(8) {
        left: calc(100% - 25px);
    }
}
@media only screen and (min-width:768px) and (max-width: 1023px) {
    /* Tablets */
    .skills .skill-box {
        width: calc(100% - 100px);
        height: calc(100% - 400px);
        margin: 150px 50px 250px 50px;
    }
    
}