---
---

.contact {
  padding: 0 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
  .wrapper {
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: start;
    .explain {
      max-width: 300px;
      margin-right: 50px;
      margin-bottom: 20px;
      p {
        font-size: 16px;
        color: #fffffff0;
        text-align: justify;
      }
    }

    .wrapper {
      width: 100%;
      max-width: 600px;
      .container {
        width: 100%;
        .input {
          width: calc(100% - 30px);
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          background: transparent;
          outline: none;
          border: 2px solid #ffffff80;
          padding: 15px;
          border-radius: 10px;
          color: #ffffffff;
          &::placeholder {
            color: #ffffffc0;
          }

          &.message {
            height: 150px;
          }
        }

        .info-title {
          font-size: 20px;
          margin-bottom: 5px;
          margin-top: 5px;
        }

        .info-content {
          font-size: 17px;
          color: #ffffffc0;
          margin-bottom: 10px;
        }
        .options {
          display: flex;
          justify-content: start;
          align-items: center;
          width: auto;
          gap: 10px;
          margin-bottom: 20px;
          .option-button {
            background: #ffffff30;
            border: none;
            overflow: none;
            color: #fff;
            padding: 15px 20px;
            border-radius: 10px;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            outline: 1px solid #ffffff80;
            cursor: pointer;

            &.selected {
              color: #0fc5d1f0;
              outline: 1px solid #0fc5d1f0;
            }
          }
        }

        .submit {
          width: 100%;
          margin: 0;
          outline: none;
          background: #0fc5d1;
          color: #fff;
          border: none;
          padding: 15px 20px;
          border-radius: 10px;
          cursor: pointer;
          font-size: 20px;
        }
      }
    }
  }
}


@media only screen and (max-width: 768px){
    .contact {
        padding: 0px;
        width: calc(100% - 0px);
        .wrapper {
            flex-direction: column;
            .explain {
                max-width: 100%;
                margin-right: 0;

            }
            .wrapper {
                .container {
                    .options {
                        flex-wrap: wrap;
                        .option-button {
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }
}