---
---

@import "typography";

.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;

  &.mobile {
    display: none;
  }

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;

      &:hover {
        color: $primary;
      }
      &.current {
        color: $primary;
      }
    }
  }
}
.main {
  width: 100%;
  overflow-x: hidden;
  z-index: 2;
}
.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url({{"/assets/images/bg.svg"|relative_url}});
}

.content {
  width: calc(100% - 40px);
  padding: 20px;
}

@media only screen and (max-width: 400px) {
  .topbar {
    height: 60px;
    &.mobile {
      height: 60px !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: repeat-y;
    background: url({{"/assets/images/bg.svg"|relative_url}});
  }
  .topbar {
    &.desktop {
      display: none;
    }
    &.mobile {
      width: calc(100% - 60px);
      height: 100px;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        width: calc(100vw - 20px);
        height: auto;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        flex-direction: column;
        top: -100%;
        opacity: 0;
        left: 0;
        gap: 20px;
        background: $primary-dark;
        overflow: hidden;
        padding: 10px;
        #closeBtn {
          position: absolute;
          top: 20px;
          left: 20px;
          font-size: 20px;
          color: $text;
        }
        .menu-items {
          margin-top: 50px;
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 20px;
          a {
            color: #fff;
            text-decoration: none;
            font-size: 17px;
            &.current {
              color: $primary;
            }
          }
        }
      }
      .menu-icon {
        i {
          font-size: 30px;
          color: $text;
        }
      }
      .socials {
        display: flex;
        gap: 10px;
        i {
          font-size: 20px;
          color: $text;
        }
      }
    }
  }
}
