---
---

.milestones {
  padding: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: start;
  .explain {
    max-width: 250px;
    margin-right: 30px;
    p {
        font-size: 16px;
        color: #fffffff0;
        text-align: justify;
    }
    margin-bottom: 20px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: 45% auto 45%;
      gap: 0px;
      align-items: center;
      justify-content: center;
      justify-items: center;
      max-width: 900px;
      grid-auto-rows: minmax(50px, auto);

      .milestone {
        width: calc(100% - 40px);
        height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        background-color: #ffffff20;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        opacity: 0;
        &.reverse-1 {
          grid-column: 3;
        }
        &.reverse-2 {
          grid-column: 1;
        }
        .date {
          font-size: 16px;
          color: #ffffff90;
        }

        &:hover {
          background-color: #ffffff30;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          .content {
            .description {
              overflow: auto;
              text-overflow: initial;
              -webkit-line-clamp: none;
            }
          }
        }
        .content {
          padding: 0;
          .title {
            font-weight: 700;
            font-size: 18px;
          }
          .description {
            font-size: 16px;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
      .arrow {
        height: 13px;
        width: auto;
        opacity: 0;
      }
      .placeholder {
        width: 100%;
      }
      .arrow-down {
        width: 13px;
        height: auto;
      }
      .arrow-left {
        transform: rotate(180deg);
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .milestones {
    flex-direction: column;

    .explain {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }
    .wrapper {
      .container {
        grid-template-columns: 1fr;
        .milestone {
          width: calc(100% - 40px);
          margin-bottom: 20px;
          grid-row: auto !important;
          grid-column: 1 !important;
        }
        .placeholder {
          display: none;
        }
        .arrow {
          display: none !important;
        }
      }
    }
  }
}
