.sidebar
{
  transition: all 0.5s ease;
  padding: 10px;
  position: absolute;
  top: 0;
  left: -70vw;
  width: calc(70vw - 21px);
  height: 100vh;
  border-right: 1px solid var(--color-dark);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: scroll;
  
}
.sidebar.menu-opened
{
  left: 0;
  transition: all 0.5s ease;
}