* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin', sans-serif;
}
:root{
  --bg: #21272F;
  --text: #fff;
  --accent: #13CA8C;
  --accent2: #139fca;
}
body {
  background: var(--bg);
  color: var(--text);
}
