:root
{
  --color-primary: #111;
  --color-primary-dark: #140606;
  --color-primary-dark2: #3F0071;
  --color-accent: #AC0E0E;
  --color-accent-light: #ff4444;
  --color-dark: #fff;
}
*{
  margin: 0;
  padding: 0;
  /*outline: 1px solid green;*/
}
body
{
  background: var(--color-primary);
  color: var(--color-dark);
}
a
{
  color: var(--color-accent);
}
a:hover
{
  color: var(--color-accent-light);
}
button
{
  background: var(--color-dark);
  color: var(--color-primary);
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 2px;
}



.content-margin-25
{
  padding: 0 25px 0 25px;
  width: calc(100% - 50px);
}