* {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}
:root{
  --bg: #26373F;
  --text: #fff;
  --accent: #13CA8C;
  --accent2: #139fca;
}
body {
  background: var(--bg);
  color: var(--text);
}
html{
  scroll-behavior: smooth;
}